<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>950674318330-u7udb3g3oaa15ffc4uuckbnsendlq4dh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.950674318330-u7udb3g3oaa15ffc4uuckbnsendlq4dh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>950674318330-1od6vm2tbiqu7iqniooiijos8nvd6inb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBPXh1o5zA5CPDXSZfhMwL4twniKjk-XF0</string>
	<key>GCM_SENDER_ID</key>
	<string>950674318330</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialapp</string>
	<key>PROJECT_ID</key>
	<string>fir-demo-5472a</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-demo-5472a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:950674318330:ios:800ae5f62c97e7f1097a43</string>
	<key>DATABASE_URL</key>
	<string>https://fir-demo-5472a.firebaseio.com</string>
</dict>
</plist>